---
import Layout from "../layouts/Layout.astro";
const title = "Linguid - HOME";
---

<Layout title={title}>
  <h1 class="text-3xl font-bold text-white text-center">
    Redefine Language Learning
  </h1>

  <div class="flex justify-center">
    <span
      class="text-3xl md:text-5xl lg:text-7xl 2xl:text-8xl font-bold bg-gradient-to-r from-orange-700 via-blue-500 to-green-400 text-transparent bg-clip-text bg-300% animate-gradient"
    >
      Redefining Language Learning
    </span>
  </div>
</Layout>
