---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import learning from "../assets/learning.jpg";
import { Icon } from "astro-icon/components";
const title = "Linguid - HOME";
import Card from "../components/Card.astro";
---

<Layout title={title}>
  <div class="flex justify-center">
    <span
      class="py-1 text-center mt-4 md:mt-6 mb-4 text-4xl md:text-6xl lg:text-7xl 2xl:text-10xl font-bold bg-gradient-to-r from-violet-700 via-blue-500 to-green-400 text-transparent bg-clip-text bg-300% animate-gradient max-w-4xl overflow-visible"
    >
      Welcome to the Future of Language Learning
    </span>
  </div>
  <!-- <h3
    class="text-center text-xl md:text-2xl lg:text-3xl 2xl:text-4xl text-violet-300 mb-12 md:mb-24"
  >
    Immerse yourself in the future of linguistic mastery
  </h3> -->

  <div class="grid grid-cols-1 md:grid-cols-2 my-8 gap-8">
    <div class="flex flex-col justify-center h-full">
      <!-- <h3 class="text-4xl text-violet-300 py-4">Headline</h3> -->
      <p class="text-amber-50 text-xl px-8">
        Ready to experience a smarter way to learn languages? Sign up for early
        access to our mobile app!
      </p>
    </div>
    <div class="flex flex-col justify-center h-full w-full px-2 md:px-8">
      <div class="bg-black rounded-lg p-6">
        <h3 class="text-3xl md:text-4xl text-center text-violet-300 pb-4">
          Join the Revolution
        </h3>
        <form
          name="contact"
          method="POST"
          netlify-honeypot="bot-field"
          data-netlify="true"
          class="w-full space-y-6 text-white"
        >
          <!-- Honeypot Field (Hidden) -->
          <p class="hidden">
            <label>
              Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
          </p>

          <!-- Hidden Subject Field -->
          <input
            type="hidden"
            name="subject"
            value="I want to Learn with Linguid!"
          />

          <div>
            <label class="block text-lg font-medium mb-2" for="email"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="w-full p-2 bg-gray-800 border border-gray-600 rounded-lg text-lg focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-violet-500"
              required
            />
          </div>

          <div>
            <button
              type="submit"
              class="w-full text-white font-semibold py-4 px-8 rounded-lg transition duration-200 text-xl bg-gradient-to-r from-indigo-600 to-violet-600 hover:from-indigo-800 hover:to-violet-800 cursor-pointer"
            >
              Get early access &rarr;
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</Layout>
