---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import learning from "../assets/learning.jpg";
const title = "Linguid - HOME";
---

<Layout title={title}>
  <div class="flex justify-center">
    <span
      class="text-center mt-6 md:mt-10 mb-4 text-5xl md:text-6xl lg:text-7xl 2xl:text-10xl font-bold bg-gradient-to-r from-violet-700 via-blue-500 to-green-400 text-transparent bg-clip-text bg-300% animate-gradient"
    >
      Redefining Language Learning
    </span>
  </div>
  <h3
    class="text-center text-xl md:text-2xl lg:text-3xl 2xl:text-4xl text-violet-300"
  >
    Immerse yourself in the future of linguistic mastery
  </h3>

  <div class="grid grid-cols-1 md:grid-cols-2 my-8 gap-12">
    <div class="flex justify-center">
      <Image src={learning} alt="learning" class="rounded-3xl" />
    </div>
    <div>
      <p class="text-amber-50 text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti
        unde enim, vel ipsam eaque nisi dolor itaque quam labore omnis
        praesentium quas ducimus quo velit autem aspernatur quaerat vitae!
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="flex justify-center px-16 py-8 md:max-w-md">
      <img src="/linguid-icon.svg" alt="linguid icon" class="animate-float" />
    </div>
    <div>
      <p class="text-amber-50">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deleniti
        unde enim, vel ipsam eaque nisi dolor itaque quam labore omnis
        praesentium quas ducimus quo velit autem aspernatur quaerat vitae!
      </p>
    </div>
  </div>
</Layout>
