---
const { title, text } = Astro.props;
---

<div class="flex flex-col items-start mb-4">
  <p class="text-xl font-bold mt-4 text-violet-300">{title}</p>
  <p class="text-white mt-2">{text}</p>
</div>
