<div class="flex flex-col justify-between w-8 h-6 cursor-pointer md:hidden">
  <span class="block w-full h-1 bg-white rounded"></span>
  <span class="block w-full h-1 bg-white rounded"></span>
  <span class="block w-full h-1 bg-white rounded"></span>
</div>
