<header class="site-nav">
  <a class="site-nav-logo" href="/" aria-label="LiNGUiD home">
    <img src="/linguid-horiz-reverse.svg" alt="LiNGUiD" />
  </a>
  <nav class="site-nav-links" aria-label="Primary navigation">
    <a href="/#creator-respect">Creator respect</a>
    <a href="/#early-access">Early access</a>
    <a href="/support">Support</a>
  </nav>
</header>
