---
import "../styles/global.css";
const { title } = Astro.props;
import NavBar from "../components/NavBar.astro";
// import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto px-4 2xl:px-0 max-w-6xl">
      <!-- <Header /> -->
      <NavBar />
      <slot />
    </div>
    <!-- <script>
      import "../scripts/menu.js";
    </script> -->
  </body>
</html>
